<center>
<br><br>
<font face="微软雅黑" color='#006030' size=6>异常件导入</font>   

<br><br><br>
  
 	
<%= form_tag({:action => 'abnormal_import'}, :multipart => true, name: 'form1') %>
<div>
   <strong>商户: </strong><%= select_tag :business_select, options_for_select(Business.accessible_by(current_ability).map{|u| [u.name, u.id]}) %>&nbsp;
</div>

<br/>
<font face="微软雅黑" color='#D9B300' size=3>上传文档: <%= file_field("file", "file",onclick: "$('#submit_button').removeAttr('disabled');") %></font>  
<br><br><br>


<!--<%= submit_tag "确认导入",:id=>'submit_button', data: { disable_with: "导入中，请稍等..." } %>-->
<%= submit_tag "确认导入",:id=>'submit_button',onclick: "form1.submit();this.disabled='disabled';" %>
</form>

</center>