<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : t(:title, default: 'SHPOST ROR FRAMEWORKS') %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
      <![endif]-->

      <%= stylesheet_link_tag "application", :media => "all" %>

      <!-- For third-generation iPad with high-resolution Retina display: -->
      <!-- Size should be 144 x 144 pixels -->
      <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

      <!-- For iPhone with high-resolution Retina display: -->
      <!-- Size should be 114 x 114 pixels -->
      <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

      <!-- For first- and second-generation iPad: -->
      <!-- Size should be 72 x 72 pixels -->
      <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

      <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
      <!-- Size should be 57 x 57 pixels -->
      <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

      <!-- For all other devices -->
      <!-- Size should be 32 x 32 pixels -->
      <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
      
      <%= javascript_include_tag "application" %>

      <!-- <%= javascript_include_tag 'jquery-1.10.2.js', 'jquery-ui-1.10.4.custom.min.js', 'autocomplete-rails.js', 'rails.js'  %> -->
      
      <%= stylesheet_link_tag 'jquery-ui-1.10.4.custom.css' %>
      
    </head>
    <body>
      <% if user_signed_in? %>
        <div class="header-container">
          <div>
            <div class="logo"></div>
            <div class="bg">
              <ul class="nav navbar-nav pull-right">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  <%= current_user.name %><b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><%= link_to t('user_navigation.update_self'), edit_user_path(current_user.id) %></li>
                    <li><%= link_to t('devise.navigation.sign_out'), destroy_user_session_path, :method => :delete %></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="main-container">
          <div class="left-slider">
            <div class="logo"></div>
            <div class="menu">
              <div class="panel-group" id="menu-group-0">
                <% 
                  m = t(:menu)
                  m.keys.each_with_index do |k,l1| 
                  if m[k][:needrole].blank? || can?(m[k][:needrole][:can], m[k][:needrole][:role].is_a?(Symbol) ? Module.const_get(m[k][:needrole][:role]) : m[k][:needrole][:role]) 
                %>
                <div class="panel">
                  <div class="menu-heading">
                    <a data-toggle="collapse" data-parent="#menu-group-0" href="#menu-0-<%=l1+1%>">
                              <div class="menu-title">
                                <%= m[k][:name] %>
                              </div>
                          </a>
                  </div>
                  <% 
                    sm = m[k][:submenu]
                    if !sm.blank? 
                  %>
                  <div id="menu-0-<%=l1+1%>" class="panel-collapse collapse">
                  <% 
                    sm.keys.each_with_index do |sk,l2| 
                      if sm[sk][:needrole].blank? || can?(sm[sk][:needrole][:can], sm[sk][:needrole][:role].is_a?(Symbol) ? Module.const_get(sm[sk][:needrole][:role]) : sm[sk][:needrole][:role]) 
                        count=0
                        name = sm[sk][:name]
                        if !sm[sk][:need_count].blank? and sm[sk][:need_count]
                          count=sk.to_s.camelize.constantize.unfinished_count(session[:current_storage])
                          name = sm[sk][:name]+"("+count.to_s+")"
                        end
                  %>
                    <div class="panel-group" id="menu-group-0-<%=l1+1%>-<%=l2+1%>">
                              <div class="panel">
                                  <div class="menu-heading">
                                      <a data-toggle="collapse" data-parent="#menu-group-0-<%=l1+1%>" >
                                        <a href="<%=sm[sk][:link]%>" class="mu-a">
                                          <div class="menu-title">
                                          <% if count>0 %>
                                            <%= sm[sk][:name] %><span style="color:#FF0000"><%="("+count.to_s+")"%></span>
                                          <% else %>
                                            <%= name %>
                                          <% end %>
                                          </div>
                                        </a>
                                      </a>
                                  </div>
                                  <div id="menu-0-<%=l1+1%>-<%=l2+1%>" class="panel-collapse collapse">
                                  </div>   
                              </div>
                          </div> 
                  <% 
                      end 
                    end 
                  %>
                  
                  </div>
                  
                  <% end %>
                </div>
                <%    end
                  end %>
            </div>
            </div>
          </div>
          <div class="container">
            <%= bootstrap_flash %>
            <div id='mid'>正在处理中。。。<br/><img border='0' src='<%=asset_path("loading.gif")%>' /></div>
            <%= yield %>
            <footer>
              <p>&copy; Company 2014 上海市邮政公司信息技术局</p>
            </footer>
          </div>
        </div>
<% else %>
      <div>
        <%= yield %>
      </div>
    <% end %>
</body>
</html>
